.slide{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.one{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.two{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.three{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.four{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}
/**/
/**/
/**/
/*first page scrolling*/
.portfolio-items{
    width: 140%;
    font-size: 18px;
    padding: 5% 0%;
    padding-top: 12%;
    border-radius: 10px;
    margin: auto;
    display: flex;
}
/*pic*/
.portfolio-items .portfolio-img{
    padding-left: 12%;
}
.portfolio-items .portfolio-img img{
    width: 300px;
    padding-top: 7%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0))  ;
    border-radius: 50%;
}
/*pic*/
/*data*/
.portfolio-items .portfolio-description{
    margin-left: 7%;
    width: 20%;
}

.portfolio-items .group-name{
    height: 110px;
}
.portfolio-items .group-name h1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    letter-spacing: 3px;
}
.portfolio-items .group-name h1 span{
    font-style: italic;
    font-size: 120px;
    font-family: 'Playfair Display', serif;
    color: rgb(124, 124, 221);
    letter-spacing: 7px;
}
.portfolio-items .group-name h2{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: right;
    padding-right: 20px;
}
.portfolio-items .group-name h2 span{
    font-style: italic;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    color: rgb(151, 151, 212);
    letter-spacing: 5px;
}
.portfolio-items .group-details h3 span{
    text-align: left;
    font-style: italic;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    color: rgb(151, 151, 212);
    letter-spacing: 5px;
}
.portfolio-items .group-details h4{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    letter-spacing: 1px;
    text-align: right;
    line-height: 30px;
    padding-right: 5%;
}
.portfolio-items .group-details h4 span{
    text-align: left;
    font-style: italic;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: rgb(151, 151, 212);
    letter-spacing: 5px;
    text-align: center;
}
.portfolio-items .group-details{
    height: 70px;
}