/*body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif, 'Carter One', cursive;
}
html{
    font-size: 10px;
    font-family: 'Francois One', sans-serif;
    color: #eee;
}

/*header*/
.nav-logo h1{
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 10px 0px;
}
.nav-logo h1::after{
    content: '';
    width: 45%;
    height: 3px;
    background: #8ad5f3;
    display: block;
}
.nav-bar{
    display: flex;
    padding: 20px 120px;
    padding-top: 40px;
    letter-spacing: 0.8px;
    background-image: linear-gradient(#111c35,#0f3443);
}
.nav-link{
    flex: 1;
}
.nav-link ul{
    margin-left: 50px;
    display: inline;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-link ul a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-link ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #8ad5f3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.nav-link .btn{
    float: right;
}
.nav-bar .greet{
    position: absolute;
    padding: 13px 25px;
    right: 180px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.dropdown{
    top: 4px;
    right: 20px;
}
.dropdown-toggle{
    font-size: 16px;
    color: white;
    background: transparent;

    font-family: 'Francois One', sans-serif;
    padding: 7px 14px;

    border-width: 0.5px;
    border-color: #ffffff;
    border-radius: 10px;
    border-style: solid;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.dropdown-toggle:hover{
    color: black;
    background: white;
}

.dropdown-menu{
    font-size: 16px;
    color: #111c35;
    background: rgba(255, 255, 255, 1);

    font-family: 'Francois One', sans-serif;
    padding: 15px 15px;

    border-width: 1px;
    border-radius: 10px;
}
.dropdown-menu .dropdown-item{
    color: #111c35;
    letter-spacing: 0.5px;
    padding: 5px 18px;
}
.dropdown-menu .dropdown-item:hover{
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: #213769;
    font-family: 'Francois One', sans-serif;
    border-radius: 10px;
}
/*header*/

/*footer*/
.copyright{
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#0f3443,#111c35);
    padding: 2rem 0;
    position: relative;
}

.up #up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
/*footer*/

/*content*/
/*FIRST PAGE WHEN FIRST LOGIN*/
.content{
    background-image: linear-gradient(rgba(170, 170, 170, 0.7), rgba(252, 255, 239, 0.9)),url('http://www.baltana.com/files/wallpapers-5/White-Background-Best-Wallpaper-16568.jpg');
    padding: 5% 20%;
}
.project .single-blog{
    font-size: 18px;
    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}
.project .single-blog img{
    width: 200px;
}
.project .single-blog .btn{
    font-size: 15px;
    background: transparent;
    padding: 7px 20px;
    border-width: 0.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #152750;
}
.project .single-blog .btn:hover{
    background: #152750;
    color: #eee;
    
}
.project .single-blog p{
    padding-top: 5px;
}
.project .single-blog .fas{
    padding: 20% 20%;
    font-size: 500%;
    color: #152750bb;
    cursor: pointer;

    justify-content: center;
    text-align: center;
}
.project .single-blog .fas:hover{
    color: #152750;
}
/*FIRST PAGE WHEN FIRST LOGIN*/
/*EDIT PROFILE PAGE*/
.content .form{
    margin: auto;
    justify-content: center;
    padding: 1% 12%;
    font-size: 16px;
}
.content .form h1{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 7%;
}
.content .singleform p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #111c35;
    padding-top: 5%;
}
.content .singleform{
    font-size: 18px;
    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    justify-content: center;
    width: 100%;
}
.content .singleform table{
    width: 90%;
    justify-content: center;
    margin: auto;
}
.content .singleform table tr{
    padding: 1% 2%;
}
.content .singleform table th{
    padding: 1.5% 1%;
    width: 30%;
    font-size: 18px;
}
.content .singleform table td{
    padding: 1.5% 0%;
    width: 70%;
}
#profile-form input{
    padding: 1% 3%;

    border-radius: 3px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #111c35;
    width: 45%;
}
#profile-form input{
    cursor: pointer;
}
/*radio input*/
.form-radio{
    display: inline;
    position: relative;
}
.container-form {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(195, 195, 195);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-form:hover input ~ .checkmark {
    background-color: rgb(100, 100, 100)
  }
  
  /* When the radio button is checked, add a blue background */
  .container-form input:checked ~ .checkmark {
    background-color: rgb(28, 77, 117);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-form input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-form .checkmark:after {
      top: 7px;
      left: 7px;
      right: 7px;
      bottom: 7px;
      border-radius: 50%;
      background: white;
  }
  /*radio input*/
  .singleform .footer-form{
    font-size: 18px;
    color: #152750;
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .singleform .footer-form .btn-rsm{
    font-size: 14px;
    background: transparent;
    padding: 7px 20px;
    width: 20%;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #152750;
    color: #152750;
    text-decoration: none;
  }
  .singleform .footer-form .btn-rsm:hover{
    background: #152750;
    color: #eee;
    text-decoration: none;
  }

/*EDIT PROFILE PAGE*/
/*ABOUT PAGE*/
.content .about-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 1% 12%;

    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    width: 100%;
}
.content .about-heading img{
    width: 200px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.content .about-heading h1{
    font-size: 56px;
    letter-spacing: 0.5px;
    padding: 2% 0%;
}
.content .about-heading p{
    font-size: 18px;
    padding: 5% 0%;
}
.purpose{
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5% 10%;
}
.purpose .pp{
    display: inline-block;
    font-size: 14px;
    color: #152750;
    background: transparent;
    width: 45%;
    height: 120%;
    border-width: 1px;
    border-style: solid;
    border-color: #152750;
    line-height: 400%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.purpose .pp:hover{
    background: #152750;
    color: #eee;
}

.single-contact{
    width: 100%;
    font-size: 18px;
    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 15% 2%;
    margin-top: 30px;
    border-radius: 10px;
    margin: auto;
}
.single-contact img{
    padding: 10% 0%;
}
.single-contact table{
    width: 100%;
    padding: 1% 3%;
}
.single-contact table th{
    width: 40%;
    letter-spacing: 0.5px;
}
.single-contact table td{
    width: 60%;
    text-align: left;
}
.settingform{
    font-size: 18px;
    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3%;
    left: 4%;

    border-radius: 10px;
    width: 100%;
}
.settingform table{
    width: 70%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.settingform table tr{
    padding: 1% 2%;
}
.settingform table th{
    padding: 1.5% 0%;
    width: 18%;
    font-size: 18px;
    text-align: left;
}
.settingform table td{
    padding: 1.5% 0%;
    width: 50%;
}
.settingform input{
    padding: 1% 3%;

    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #111c35;
    width: 70%;
    cursor: pointer;
}
.settingform .footer-form{
    padding: 5% 0%;
    justify-content: center;
    text-align: center;
}
.settingform .footer-form .btn-setting{
    margin: auto;
    color: #152750;
    font-size: 14px;
    background: transparent;
    padding: 7px 20px;
    width: 15%;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #152750;
    text-decoration: none;
  }
  .settingform .footer-form .btn-setting:hover{
    background: #152750;
    color: #eee;
    text-decoration: none;
  }

/*ABOUT PAGE*/
/*content*/

/*footer*/

.copyright{
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

.up #up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    letter-spacing: 0.2px;
    font-size: 14px;
    font-family: 'Francois One', sans-serif;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
.manage-heading{
    padding-bottom: 11.2%;
}
.manage-heading h1{
    padding-bottom: 5%;
    padding-left: 3%;
    text-align: left;
}
.single-manage{
    width: 100%;
    height: 100%;
    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10% 0%;
    margin-top: 30px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.single-manage i{
    font-size: 60px;
    height: 100px;
    padding: 10% 0%;
    
}
.single-manage a p{
    font-size: 24px;
    padding: 4% 0%;
}

#upload-form{
    font-size: 15px;
    margin: auto;
    line-height: 200%;
    padding: 1.5% 4%;
    background-color: transparent;
}

#upload-form p{
    padding-bottom: 4%;
}

#upload-form input{
    padding: 1.5% 4%;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: transparent;
}
#upload-form input #myFlie{
    width: 40%;
}
#upload-form .btn{
    width: 100%;
    padding: 4% 20%;
}   
#upload-form button{
    font-size: 16px;
    background: transparent;
    padding: 0% 4%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #152750;
    color: #152750;
    text-decoration: none;
}
#upload-form .btn #moreBtn{
    width: 50%;
    padding: 2% 4%;
}
#upload-form button .delete{
    width: 20%;
}
#upload-form button:hover{
    background: #152750;
    color: #eee;
    text-decoration: none;
}

#profile-form .btn{
    font-size: 16px;
    width: 100%;
    padding: 0% 20%;
    padding-top: 4%;
    padding-bottom: 0%;
}
#profile-form .btn input{
    width: 50%;
    padding: 2% 4%;
}
#profile-form .btn input:hover{
    background: #152750;
    color: #eee;
    text-decoration: none;
}

#main{
    margin: auto;
    padding-top: 7%;
    padding-left: 20%;
    padding-bottom: 4%;
    justify-content: center;
}

#main button{
    border-radius: 3px;
    border-color: #152750;
    color: #152750;
    background-color: transparent;
    padding: 1% 5%;
}
#main button:hover{
    background: #152750;
    color: #eee;
    text-decoration: none;
}
.content .profile-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 1% 12%;

    color: #152750;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    width: 100%;
}
.content .profile-heading img{
    width: 200px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.content .profile-heading h1{
    font-size: 56px;
    letter-spacing: 0.5px;
    padding: 2% 0%;
}
.profile-heading input{
    padding: 1% 3%;

    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #111c35;
    width: 70%;
    cursor: pointer;
}
.profile-heading table{
    width: 70%;
    margin: auto;
}
.profile-heading table th{
    padding: 1.5% 0%;
    width: 40%;
    font-size: 18px;
    text-align: left;
}
.profile-heading table td{
    padding: 1.5% 0%;
    text-align: left;
}


