
body{
    width: 100%;
    height: 100%;
    background: url('http://www.baltana.com/files/wallpapers-5/White-Background-Best-Wallpaper-16568.jpg');
    background-size: cover;
}
.slide{
    margin: 0;
}
.slide ul{
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.slide ul li{
    position: absolute;
    width: 25%;
    height: 100%;
    color: rgb(114, 116, 226);
    text-align: center;
    line-height: 600px;
    font-size: 50px;
    transition: 0.7s;
    z-index: 1;
}
.slide ul li:hover{
    background: rgb(0, 0, 0, 0.5);
    opacity: 0.5;
    font-size: 60px;
}
.slide ul li:nth-child(2){
    left: 25%;
}
.slide ul li:nth-child(3){
    left: 50%;
}
.slide ul li:nth-child(4){
    left: 75%;
}
.slide .nav-temp{
    font-family: 'Galada', cursive;
    color: #fff;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 1px;
    text-decoration: none
}
.slide a{
    padding: 75% 15%;
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide ul li:nth-child(1):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(2):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-Wallpapers-Full-HD-49288.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(3):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-Widescreen-Wallpaper-49308.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(4):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}