<%- include("../partials/userheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
        <div class="content">
            <div class="manage-heading">
                <h1>WELCOME,  ADMIN <i class="fas fa-user-cog"></i></h1> 
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="single-manage">
                            <a href="/admin/manage-user" class="btn">
                                <i class="fas fa-users"></i>
                                <p>Manage User</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>