
.slide{
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: -1;
}
.slide .season{
    display: inline-block;
    font-size: 18px;
    color: #152750;
    background: transparent;
    width: 40%;
    height: 150px;
    border: 1px solid #152750;
    line-height: 400%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 7%;
    z-index: 1;
}

.slide #winter:hover{
    color: #eee;
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide #spring:hover{
    color: #eee;
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-Wallpapers-Full-HD-49288.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide #summer:hover{
    color: #eee;
    background: url(https://cdn.nohat.cc/thumb/f/720/af84ec454eef4988b8cf.jpg) repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide #autumn:hover{
    color: #eee;
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}