<%- include("partials/indexheader") %>
<header></header>
        <div class="landing-text" id="index-home">
            <h1><%= title %></h1>
            <h6>Do you want to build a portfolio website ?</h6> <br> <br>
            <% if(!locals.user){ %> 
                <a href="/signup">Build your portfolio</a>
            <% } %> 
            <% if(locals.user) { %> 
                <a href="/portfolio/">Build your portfolio</a>
            <% } %> 
        </div>
        <div class="about-pro" id="index-about">
            <h1>About</h1>
            <h3>The Portfolio</h3>
                <p>
                    We're 2nd year student from Applied Computer Science, <br>
                    Department of Mathemetics, Faculty of Science, <br>
                    King Mongkut's University of Technology Thonburi. <br>
                    This is website for our Project in CSS226 Web Programming.
                </p>
        </div>
        <div class="temp-pro" id="index-temp">
                    <h3>example</h3>
                    <h1>Template</h1>
                    <img class="mySlides" src="http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-Wallpapers-Full-HD-49288.jpg">
                    <img class="mySlides" src="http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-Widescreen-Wallpaper-49308.jpg">
                    <img class="mySlides" src="http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif">
        </div>
        <div class="cont-pro" id="index-cont">

        </div>
    <%- include("partials/copyright") %>
<%- include("partials/indexfooter") %>