<%- include("partials/indexheader") %>
<header></header>
        <div class="landing-text" id="index-home">
            <h1><%= title %></h1>
            <h6>Do you want to build a portfolio website ?</h6> <br> <br>
            <% if(!locals.user){ %> 
                <a href="/signup">Build your portfolio</a>
            <% } %> 
            <% if(locals.user) { %> 
                <a href="/portfolio/build-a-project">Build your portfolio</a>
            <% } %> 
        </div>
        <div class="about-pro" id="index-about">
            <h1>About</h1>
            <h3>The Portfolio</h3>
                <p>
                    We're 2nd year student from Applied Computer Science, <br>
                    Department of Mathemetics, Faculty of Science, <br>
                    King Mongkut's University of Technology Thonburi. <br>
                    This is website for our Project in CSS226 Web Programming.
                </p>
        </div>
        <div class="temp-pro" id="index-temp">
                    <h3>example</h3>
                    <h1>Template</h1>
                    <img class="mySlides" src="https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    <img class="mySlides" src="https://images.pexels.com/photos/1175136/pexels-photo-1175136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    <img class="mySlides" src="https://images.pexels.com/photos/2343170/pexels-photo-2343170.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    <img class="mySlides" src="https://images.pexels.com/photos/4397919/pexels-photo-4397919.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </div>
        <div class="cont-pro" id="index-cont">

        </div>
    <%- include("partials/copyright") %>
<%- include("partials/indexfooter") %>