<%- include("../partials/userheader") %>

        <div class="content">
            <div class="about-heading">
                <h1>About</h1> 
                <img src="https://www.international-bioeconomy.org/lw_resource/datapool/systemfiles/elements/images/4bfffc8f-dd8f-11e6-8723-dead53a91d31/live/image/KMUTT.png" alt="KMUTT">
                <p>
                    We're 2nd year student from Applied Computer Science, <br>
                    Department of Mathemetics, Faculty of Science, <br>
                    King Mongkut's University of Technology Thonburi. <br>
                    This is website for our Project in CSS226 Web Programming.
                </p>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>