<%- include("../partials/userheader") %>
        <div class="content">
            <div class="about-heading">
                <h1>Contact us</h1> 
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="single-contact">
                            <img src="https://cdn0.iconfinder.com/data/icons/professional-avatar-5/48/manager_male_avatar_men_character_professions-512.png" alt="Avatar" style="width: 70%;">
                            <table>
                                <tr>
                                    <th>Name :</th>
                                    <td>admin</td>
                                </tr>
                                <tr>
                                    <th>Email :</th>
                                    <td>admin@gmail.com</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="single-contact">
                            <img src="https://cdn4.iconfinder.com/data/icons/professional-avatar-5/48/seo_manager_avatar_women_woman_profile_character_professions_2-512.png" alt="Avatar" style="width: 70%;">
                            <table>
                                <tr>
                                    <th>Name :</th>
                                    <td>123</td>
                                </tr>
                                <tr>
                                    <th>Email :</th>
                                    <td>123@gmail.com</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="single-contact">
                            <img src="https://cdn4.iconfinder.com/data/icons/professional-avatar-5/48/teacher_avatar_woman_women_profile_character_professions_2-512.png" alt="Avatar" style="width: 70%;">
                            <table>
                                <tr>
                                    <th>Name :</th>
                                    <td>helper</td>
                                </tr>
                                <tr>
                                    <th>Email :</th>
                                    <td>helper@gmail.com</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>