<%- include("../partials/indexheader") %>
        <div class="outer-wrapper">
            <div class="wrapper">

                <div class="slide one">
                    <div class="portfolio-items">

                        <div class="header-port">PERSONAL PARTICULAR</div>
                        
                        <div class="portfolio-img">
                            <div class="profile-pic"></div>
                        </div> 

                        <div class="portfolio-description">
                            <div class="group-name">
                                <div id="firstname"></div>
                            </div>
                            <div class="group-name">
                                <div id="lastname"></div>
                            </div>
                            <div class="group-details">
                                <div id="age"></div>
                            </div>
                            <div class="group-details">
                                <div id="birth"></div>
                            </div>
                            <div class="group-details">
                                <div id="nation"></div>
                            </div>
                            <div class="group-details">
                                <div id="introduce"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="slide two">
                    <div class="portfolio-contents">

                        <div class="header-port">EDUCATION BACKGROUND</div>

                        <div class="portfolio-education">
                            <div class="group-spread">
                                <div id="school"></div>
                            </div>
                            <div class="group-spread">
                                <div id="college"></div>
                            </div>
                            <div class="group-spread">
                               <div id="major"></div>
                            </div>
                            <div class="group-spread">
                                <div id="gpax"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="slide three">
                    <div class="portfolio-content">
                        
                        <div class="header-port">SKILLS</div>
                        
                        <div class="portfolio-skills">
                            <div class="groupskill1">
                                <div id="skill1"></div>
                                <div id="level1"></div>
                            </div>
                            <!--another skill use js-->
                        </div>

                    </div>
                </div>
                <div class="slide four">
                    <div class="portfolio-content">

                        <div class="header-port">EXPERIENCE</div>
                        
                        <div class="portfolio-exp">
                            <div class="groupexp1">
                                <div id="exp1"></div>
                                <div id="exp1"></div>
                            </div>
                            <!--another experience use js-->
                        </div>

                    </div>
                </div>
                <div class="slide five">
                    <div class="portfolio-content">

                        <div class="header-port">CONTACT ME</div>
                        
                        <div class="portfolio-contact">
                            <div id="email"></div>
                            <div id="facebook"></div>
                            <div id="line"></div>
                            <div id="instagram"></div>
                            <div id="twitter"></div>
                            <!--it's gonna be icon click link-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
<%- include("../partials/indexfooter") %>
