<%- include("../partials/indexheader") %>
        <div class="outer-wrapper">
            <div class="wrapper">

                <div class="slide one">
                    <div class="portfolio-items">

                        <div class="header-port">PERSONAL PARTICULAR</div>
                        
                        <div class="portfolio-img">
                            <div class="profile-pic"></div>
                        </div> 

                        <div class="portfolio-description">
                            <h1>Hi,</h1>
                            <div class="group-name">
                                <div id="name">I'm (qwerty)(qwerty),</div>
                            </div>
                            <div class="group-details">
                                <div id="job">(student),</div>
                            </div>
                            <div class="group-details">
                                <div id="nation">I'm (qwerty).</div>
                            </div>
                            <div class="group-details">
                                <div id="introduce">qwertyqwertyqwertyqwertyqwertyqwertyqwertyqwertyqwertyqwerty</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="slide two">
                    <div class="portfolio-contents">

                        <div class="header-port">EDUCATION BACKGROUND</div>

                        <div class="portfolio-education">
                            <div class="group-spread">
                                <div id="school">qwertyqwerty school</div>
                            </div>
                            <div class="group-spread">
                                <div id="college">qwertyqwerty</div>
                            </div>
                            <div class="group-spread">
                               <div id="major">qwertyqwerty</div>
                            </div>
                            <div class="group-spread">
                                <div id="gpax">0.00</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="slide three">
                    <div class="portfolio-content">
                        
                        <div class="header-port">SKILLS</div>
                        
                        <div class="portfolio-skills">
                            <div class="groupskill1">
                                <div id="skill1">qwertyqwerty</div>
                                <div id="level1">00000</div>
                            </div>
                            <!--another skill use js-->
                        </div>

                    </div>
                </div>
                <div class="slide four">
                    <div class="portfolio-content">

                        <div class="header-port">EXPERIENCE</div>
                        
                        <div class="portfolio-exp">
                            <div class="groupexp1">
                                <div id="exp1">qwertyqwerty</div>
                                <div id="place1">qwerty</div>
                                <div id="year1">00</div>
                            </div>
                            <!--another experience use js-->
                        </div>

                    </div>
                </div>
                <div class="slide five">
                    <div class="portfolio-content">

                        <div class="header-port">CONTACT ME</div>
                        
                        <div class="portfolio-contact">
                            <div id="email">qwerty@qwerty</div>
                            <div id="facebook"><i class="fab fa-facebook-square"></i></div>
                            <div id="line"><i class="fab fa-line"></i></div>
                            <div id="instagram"><i class="fab fa-instagram"></i></div>
                            <div id="twitter"><i class="fab fa-twitter-square"></i></div>
                            <!--it's gonna be icon click link-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
<%- include("../partials/indexfooter") %>
