<%- include("../partials/userheader") %>
        <div class="content">
            <div class="project row">
                <div class="col-12 col-md-4">
                    <div class="single-blog">
                        <form action="/addnewresume"></form>
                        <a href="/portfolio/build-a-project" class="build-project" >
                            <i class="fas fa-plus-circle"></i>
                        </a>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="single-blog">
                        <div class="projectfield">
                            <img src="http://www.baltana.com/files/wallpapers-20/Pixel-Art-Background-Wallpapers-49560.jpg" alt="Avatar" style="width:80%">
                            <p>Name Project : Work1</p><!--name project will set before into input resume page-->
                            <a href="/portfolio/" class="btn">Open</a> <!--if have project can click this button-->
                            <a href="/portfolio/build-a-project" class="btn">Edit</a>
                            <a class="btn">Delete</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog">
                        <img src="http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif" alt="Avatar" style="width:80%">
                        <p>Name Project : Work2</p>
                        <a href="/portfolio/build-a-project" class="btn">Edit Project</a>
                        <a class="btn">Download</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog">
                        <img src="http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-Wallpapers-Full-HD-49288.jpg" alt="Avatar" style="width:80%">
                        <p>Name Project : Work3</p>
                        <a href="/portfolio/build-a-project" class="btn">Edit Project</a>
                        <a class="btn">Download</a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-blog">
                        <img src="http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-Widescreen-Wallpaper-49308.jpg" alt="Avatar" style="width:80%">
                        <p>Name Project : Work4</p>
                        <a href="/portfolio/build-a-project" class="btn">Edit Project</a>
                        <a class="btn">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>
