<%- include("../partials/userheader") %>
        <div class="content">
            <div class="form">
                <div class="settingform">
                        <table>
                            <h1>SETTING</h1>
                            <tr>
                                <th>Status</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Status">
                                </td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Username">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Change Username</th>
                                <td class="form-box"> 
                                    <input type="text" placeholder="New Username">
                                 </td>
                            </tr> 
                            <tr>
                                <th>Password</th>
                                <td class="form-box">
                                    <input type="text" placeholder="Password">
                                </td>
                            </tr>
                            <tr>
                                <th>Change Password</th>
                                <td class="form-box">
                                    <input type="text" placeholder="New Password">
                                </td>
                            </tr>
                        </table> 
                        <div class="footer-form">
                            <a href="homepage.html" class="btn-setting">SAVE CHANGE</a>
                        </div>
                </div>
            </div>
        </div>

        <%- include("../partials/copyright") %>
<%- include("../partials/indexfooter") %>