<%- include("../partials/indexheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/<%= template %>.css">
</head>
        <div class="outer-wrapper">
            <div class="wrapper">

                <div id="slideone">
                    <div class="slide one">
                        
                    </div>
                </div>

                <div id="slidetwo">
                    <div class="slide two">
                       
                    </div>
                </div>

                <div id="slidethree">
                    <div class="slide three"><!--&nbsp;SKILLS-->
                        
                    </div>
                </div>

                <div id="slidefour">
                    <div class="slide four">
                       
                    </div>
                </div>

                <div id="slidefive" style="min-width: 100vw;">
                    <div class="slide five">
                        
                    </div>
                </div>
            </div>
        </div>
<%- include("../partials/indexfooter") %>
