<%- include("../partials/userheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/template.css">
</head>
    <div class="templateslide">
        <div class="slide">
            <ul>
                <li><div class="nav-temp">Sea Salt</div></li>
                <li><div class="nav-temp">Starry Night</div></li>
                <li><div class="nav-temp">Dark Nature</div></li>
                <li><div class="nav-temp">Fruit Vibe</div></li>
                <div class="box"></div>
            </ul>
        </div>
    </div>
<%- include("../partials/indexfooter") %>
