<%- include("../partials/userheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/template.css">
</head>
    <div class="template">
        <div class="slide">
            <ul>
                <li><div class="nav-temp">Winter</div></li>
                <li><div class="nav-temp">Spring</div></li>
                <li><div class="nav-temp">Summer</div></li>
                <li><div class="nav-temp">Autumn</div></li>
                <div class="box"></div>
            </ul>
        </div>
    </div>
<%- include("../partials/indexfooter") %>
