<%- include("../partials/userheader") %>
<head>
    <link rel="stylesheet" href="/stylesheets/template.css">
</head>
    <div class="templateslide">
        <div class="slide">
            <ul>
                <li>
                    <form action="/portfolio/showtemplate1" method="POST">
                        <input type="hidden" value="def1">
                        <a href="/portfolio/showtemplate" type="submit" style="text-decoration: none;">
                            <div class="nav-temp">Sea Salt</div>
                        </a>
                    </form>
                </li>
                <li>
                    <form action="/portfolio/showtemplate2" method="POST">
                        <input type="hidden" value="def2">
                        <a href="#" type="submit" style="text-decoration: none;">
                            <div class="nav-temp">Starry Night</div>
                        </a>
                    </form>
                </li>
                <li>
                    <form action="/portfolio/showtemplate3" method="POST">
                        <input type="hidden" value="def3">
                        <a href="#" type="submit" style="text-decoration: none;">
                            <div class="nav-temp">Dark Nature</div>
                        </a>
                    </form>
                </li>
                <li>
                    <form action="/portfolio/showtemplate4" method="POST">
                        <input type="hidden" value="def3">
                        <a href="#" type="submit" style="text-decoration: none;">
                            <div class="nav-temp">Fruit Vibe</div>
                        </a>
                    </form>
                </li>\
                <div class="box"></div>
            </ul>
        </div>
    </div>
<%- include("../partials/indexfooter") %>
