/*body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif, 'Carter One', cursive;
}
html{
    font-size: 10px;
    font-family: 'Francois One', sans-serif;
    color: #eee;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 100vh;
}

body{
    background-image: linear-gradient(rgba(170, 170, 170, 0.7), rgba(252, 255, 239, 0.9)),url('http://www.baltana.com/files/wallpapers-5/White-Background-Best-Wallpaper-16568.jpg');
}
#page-container {
    position: relative;
    min-height: 100vh;
}

/*header*/
.nav-logo{
    padding-top: 2.5%;
    padding-left: 8%;
    padding-right: 2%;
    padding-bottom: 1.5%;
    z-index: 1;
}
.nav-logo h1{
    width: fit-content;
    font-family: 'Galada', cursive;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;

    text-decoration: none;
    letter-spacing: 2px;
}

.nav-bar{
    height: 15%;
    display: flex;
    letter-spacing: 0.8px;
    background-image: linear-gradient(#16162d,#333358);
}
.nav-links{
    width: fit-content;
    flex: 1;
    padding-top: 2.5%;
    padding-left: 2%;
    padding-right: 0%;
    padding-bottom: 1.5%;
}
.nav-links ul{
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ffe838;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links .btn{
    float: right;
}
.greet{
    position: absolute;
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 1.2%;
    margin-bottom: 2%;
    right: 18%;
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-transform: uppercase;
}
/*header*/

.menu {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 200px;
  }
  
  .menu > li > a {
    background: #000;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .menu ul {
    background: #ddd;
    height: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 35px;
    width: 100%;
  }
  
  .menu li:hover ul {
    height: 200px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .menu ul a {
    color: #000;
    display: block;
    padding: 5px 20px;
  }

 .dropdown{
    right: 10%;
    padding-top: 2.5%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    z-index: 2000;
}
.dropdown-toggle{
    font-size: 16px;
    color: white;
    background: transparent;

    font-family: 'Francois One', sans-serif;
    padding: 7px 14px;

    border-width: 0.5px;
    border-color: #ffffff;
    border-radius: 10px;
    border-style: solid;

    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}
.dropdown-toggle:hover{
    color: black;
    background: white;
}

.dropdown-menu{
    font-size: 16px;
    color: #16162d;
    background: white;

    font-family: 'Francois One', sans-serif;
    padding: 15px 15px;

    border-width: 1px;
    border-radius: 2px;
    z-index: 2000;
}
.dropdown-menu .dropdown-item{
    color: #16162d;
    letter-spacing: 0.5px;
    padding: 5px 18px;
}
.dropdown-menu .dropdown-item:hover{
    font-size: 16px;
    color: #16162d;
    background: #eee;
    font-family: 'Francois One', sans-serif;
    border-radius: 2px;
}

/* footer*/
.copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#333358,#16162d);
    padding: 2rem 0;
}

.up #up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
/*footer*/

/*content*/
/*FIRST PAGE WHEN FIRST LOGIN*/
.content{
    padding: 5% 20%;
}
.project .single-blog{
    font-size: 18px;
    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
   max-height: fit-content;
}
.project .single-blog img{
    width: 200px;
}
.project .single-blog .btn{
    font-size: 15px;
    background: transparent;
    padding: 7px 20px;
    border-width: 0.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #16162d;
}
.project .single-blog .btn:hover{
    color: #eee;
    background: #16162d;
}
.project .single-blog p{
    padding-top: 5px;
}
.project .single-blog .fas{
    padding: 20% 20%;
    font-size: 500%;
    color: #16162dc2;
    cursor: pointer;

    justify-content: center;
    text-align: center;
}
.project .single-blog .fas:hover{
    color: #16162d;
}
/*FIRST PAGE WHEN FIRST LOGIN*/
/*EDIT PROFILE PAGE*/
.content .form{
    margin: auto;
    justify-content: center;
    font-size: 16px;
}
.content .form h1{
    font-family: 'Francois One', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 7%;
}
.content .singleform p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #16162d;
    padding-top: 5%;
}
.content .singleform{
    font-size: 18px;
    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    justify-content: center;
    width: 100%;
}
.content .singleform table{
    width: 90%;
    justify-content: center;
    margin: auto;
}
.content .singleform table tr{
    padding: 1% 2%;
}
.content .singleform table th{
    padding: 1.5% 1%;
    width: 30%;
    font-size: 18px;
}
.content .singleform table td{
    padding: 1.5% 0%;
    width: 70%;
}
#profile-form input{
    padding: 1% 3%;

    border-radius: 3px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #16162d;
    width: 45%;
}
#profile-form input{
    cursor: pointer;
}
/*radio input*/
.form-radio{
    display: inline;
    position: relative;
}
.container-form {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-form input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(195, 195, 195);
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-form:hover input ~ .checkmark {
    background-color: rgb(100, 100, 100)
  }
  
  /* When the radio button is checked, add a blue background */
  .container-form input:checked ~ .checkmark {
    background-color: rgb(28, 77, 117);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-form input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-form .checkmark:after {
      top: 7px;
      left: 7px;
      right: 7px;
      bottom: 7px;
      border-radius: 50%;
      background: white;
  }
  /*radio input*/
  .singleform .footer-form{
    font-size: 18px;
    color: #16162d;
    background-color: #eee;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
  }
  .singleform .footer-form .btn-rsm{
    font-size: 14px;
    background: transparent;
    padding: 7px 20px;
    width: 20%;
    border-width: 1.5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #16162d;
    color: #16162d;
    text-decoration: none;
  }
  .singleform .footer-form .btn-rsm:hover{
    color: #eee;
    background: #16162d;
    text-decoration: none;
  }

/*EDIT PROFILE PAGE*/
/*ABOUT PAGE*/
.content .about-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 1% 12%;

    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    width: 100%;
}
.content .about-heading img{
    width: 200px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.content .about-heading h1{
    font-family: 'Galada', cursive;
    font-size: 56px;
    letter-spacing: 0.5px;
    padding: 2% 0%;
}
.content .about-heading p{
    font-family: 'Signika', sans-serif;
    font-size: 18px;
    padding: 5% 0%;
}
.purpose{
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5% 10%;
}
.purpose .pp{
    display: inline-block;
    font-size: 14px;
    color: #16162d;
    background: transparent;
    width: 45%;
    height: 120%;
    border-width: 1px;
    border-style: solid;
    border-color: #16162d;
    line-height: 400%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.purpose .pp:hover{
    color: #eee;
}

.single-contact{
    width: 225px;
    font-size: 18px;
    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    padding: 15% 2%;
    margin-top: 30px;
    border-radius: 10px;
    margin: auto;
}
.single-contact img{
    padding: 10% 0%;
}
.single-contact table{
    width: 100%;
    padding: 1% 3%;
}
.single-contact table th{
    width: 40%;
    letter-spacing: 0.5px;
}
.single-contact table td{
    width: 60%;
    text-align: left;
}
.settingform{
    font-size: 18px;
    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3%;
    left: 4%;

    border-radius: 10px;
    width: 100%;
}
.settingform table{
    width: 70%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
.settingform table tr{
    padding: 1% 2%;
}
.settingform table th{
    padding: 1.5% 0%;
    width: 18%;
    font-size: 18px;
    text-align: left;
}
.settingform table td{
    padding: 1.5% 0%;
    width: 50%;
}
.settingform input{
    padding: 1% 3%;

    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #16162d;
    width: 70%;
    cursor: pointer;
}
.settingform .footer-form{
    padding: 5% 0%;
    justify-content: center;
    text-align: center;
}
.settingform .footer-form .btn-setting{
    margin: auto;
    color: #16162d;
    font-size: 14px;
    background: transparent;
    padding: 7px 20px;
    width: 15%;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: #16162d;
    text-decoration: none;
  }
  .settingform .footer-form .btn-setting:hover{
    color: #eee;
    background: #16162d;
    text-decoration: none;
  }
  .settingform .footer-form .btn-setting button:hover{
    color: #eee;
    background: #16162d;
    text-decoration: none;
  }
  

/*ABOUT PAGE*/
/*content*/

/*footer*/

.copyright{
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

.up #up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i{
    
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    letter-spacing: 0.2px;
    font-size: 14px;
    font-family: 'Francois One', sans-serif;
}

@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
.manage-heading{
    padding-bottom: 11.2%;
}
.manage-heading h1{
    padding-bottom: 5%;
    padding-left: 3%;
    text-align: left;
}
.single-manage{
    width: 100%;
    height: 100%;
    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 10% 0%;
    margin-top: 30px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}
.single-manage i{
    font-size: 60px;
    height: 100px;
    padding: 10% 0%;
    
}
.single-manage a p{
    font-size: 24px;
    padding: 4% 0%;
}

#upload-form{
    font-size: 15px;
    margin: auto;
    line-height: 200%;
    padding: 1.5% 22%;
    background-color: transparent;
}

#upload-form p{
    padding-bottom: 4%;
}

#upload-form input{
    padding: 1.5% 4%;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: transparent;
}
#upload-form input #myFlie{
    width: 100%;
}
#upload-form .btn{
    width: 100%;
    padding: 4% 20%;
}   
#upload-form button{
    font-size: 16px;
    background: transparent;
    padding: 0% 4%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #16162d;
    color: #16162d;
    text-decoration: none;
}
#upload-form .btn #moreBtn{
    width: 50%;
    padding: 2% 0%;
}
#upload-form button .delete{
    width: 20%;
}
#upload-form button:hover, #profile-form .btn input:hover{
    color: #eee;
    background: #16162d;
    text-decoration: none;
}

#profile-form .btn{
    font-size: 16px;
    width: 100%;
    padding: 0% 20%;
    padding-top: 4%;
    padding-bottom: 0%;
}
#profile-form .btn input{
    width: 50%;
    padding: 2% 4%;
}

#main{
    margin: auto;
    padding-top: 7%;
    padding-left: 25%;
    padding-bottom: 4%;
    justify-content: center;
}

.content .profile-heading{
    margin: auto;
    justify-content: center;
    text-align: center;
    padding: 1% 12%;

    color: #16162d;
    background-color: #eee;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    padding: 3% 10%;

    border-radius: 10px;
    width: 100%;
}
.content .profile-heading img{
    width: 200px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.content .profile-heading h1{
    font-size: 56px;
    letter-spacing: 0.5px;
    padding: 2% 0%;
}
.profile-heading input{
    padding: 1% 3%;

    border-radius: 10px;
    border-width: 0.5px;
    width: 70%;
    cursor: pointer;
}
.profile-heading table{
    width: 70%;
    margin: auto;
}
.profile-heading table th{
    padding: 1.5% 0%;
    width: 40%;
    font-size: 18px;
    text-align: left;
}
.profile-heading table td{
    padding: 1.5% 0%;
    text-align: left;
}
.profile-heading a{
    background: transparent;
    padding: 1% 5%;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    border-color: #16162d;
    color: #16162d;
    text-decoration: none;
}
.profile-heading a:hover{
    color: #eee;
    background: #16162d;
}
.table-input th{
    width: 80%;
}
.table-input td{
    width: 15%;
}



.purpose {
    width: 100%;
    text-align: center;
}
.purpose input {
    display: none;
}
.purpose input:checked + .pp{
    background-color: #16162d;
}
.purpose input:checked + .pp span{
    color: white;
    transform: translateY(70px);
}
.purpose input:checked + .pp span:before{
    transform: translateY(0px);
    opacity: 1;
}
.purpose .pp {
    width: 200px;
    height: 200px;
    background-color: white;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;
}
.purpose .pp:active{
    transform: translateY(10px);
}
.purpose .pp span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1em;
    user-select: none;
    color: #16162d;
}
.purpose .pp span:before {
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}

.template{
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5% 10%;
    text-align: center;
}
.template input {
    display: none;
}

.template .def1:hover{
    color: #eee;
    background: url(https://66.media.tumblr.com/e8daf59f89fc423ef99bbe91b63a6996/tumblr_o6m579MZLo1u01kfzo1_1280.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.template .def2:hover{
    color: #eee;
    background: url(https://66.media.tumblr.com/105ceb23d8741e0a84eef8ad1994f06e/tumblr_ohvmeqouTm1u01kfzo1_1280.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.template .summer:hover{
    color: #eee;
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-Widescreen-Wallpaper-49308.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.template .autumn:hover{
    color: #eee;
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.template input:checked + .pp{
    background-color: #16162d;
}
.template input:checked + .pp span{
    color: white;
    transform: translateY(70px);
}
.template input:checked + .pp span:before{
    transform: translateY(0px);
    opacity: 1;
}
.template .pp {
    width: 200px;
    height: 200px;
    background-color: transparent;
    transition: all 250ms ease;
    will-change: transition;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-weight: 900;

    border-width: 1px;
    border-style: solid;
    border-color: #16162d;
}
.template .pp:active{
    transform: translateY(10px);
}
.template .pp span {
    position: absolute;
    transform: translate(0, 60px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    font-size: 1em;
    user-select: none;
}
.template .pp span:before {
    font-size: 1.2em;
    display: block;
    transform: translateY(-80px);
    opacity: 0;
    transition: all 300ms ease-in-out;
    font-weight: normal;
    color: white;
}
.single-blog #btn-plus button{
    padding: 16% 0;
    border-style: hidden;
}
.modal-footer button:hover{
    color: #eee;
    text-decoration: none;
}
#statusbtn{
    width: 50%;
    height: 10vh;
    background: transparent;
    border-radius: 3px;
    border-color: #16162d;
    border-width: 0.5px;
    border-style: solid;
}
.benefit-member table{
    width: 100%;
}
.benefit-member table th{
    text-align: left;
    width: 30%;
    padding: 1% 0%;
}
.benefit-member table td h2{
    font-size: 15px;
    font-family: 'Francois One', sans-serif;
    padding: 3% 0%;
}
@media screen and (max-width: 20000px){
    
    .menu-mini, .mini-nav{
        display: none;
    }
    .nav-logo{
        padding-right: 3%;
    }
    .nav-logo h1::after{
        content: '';
        width: 45%;
    }
    .nav-links{
        width: fit-content;
        flex: 1;
        padding-top: 2.5%;
        padding-left: 2%;
        padding-right: 0%;
        padding-bottom: 1.5%;
    }
}

@media screen and (max-width: 1250px) {

    .content{
        padding: 3% 7%;
    }
    .single-contact{
        width: 240px;
    }
    .nav-links, .dropdown{
        display: none;
    }

    .nav-bar .greet{
        right: 20%;
    }

    .mini-nav{
        color: #eee;
        display: block;
        right: 0;
        width: 35%;
        height: 100vh;
        top: -200vh;
        z-index: 50;
        position: absolute;
        background: #16162d;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transition: all 650ms cubic-bezier(1,0,0,1);
        text-align: center;
        justify-content: center;
    }

    .mini-nav .nav-list img{
        padding-top: 3%;
        width: 120px;
        border-radius: 50%;
        background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0))  ;
    }

    .mini-nav .nav-list{
        padding-top: 5%;
        text-align: center;
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mini-nav .nav-list p{
        font-family: 'Galada', cursive;
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 24px;
    }
    
    li{
        margin: 0 0;
    }
    
    .mini-nav .nav-link{
        color: #eee;
        font-family: 'Galada', cursive;
        font-size: 24px;
        padding: 1rem;
        letter-spacing: 0.2rem;
        display: block;
    }
    
    .mini-nav .nav-link:hover, 
    .mini-nav .nav-link:focus{
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    .mini-nav.open{
        top: 0vh;
        border-radius: initial;
    }

    .menu-mini{
        position: fixed;
        top: 4%;
        right: 15%;
        bottom: 2%;
        width: 4rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1500;
        transition: transform 650ms ease-out;
    }
    
    .menu-mini.open{
        transform: rotate(-45deg);
    }
    
    .bar{
        background: linear-gradient(to right, #ffe838, #fd57fd);
        width: 100%;
        height: 4px;
        border-radius: .8rem;
    }

    .bar.half{
        width: 50%;
    }
    
    .bar.start{
        transform-origin: right;
        transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    
    .open .bar.start{
        transform: rotate(-450deg) translateX(.8rem);
    }
    
    .bar.end{
        align-self: flex-end;
        transform-origin: left;
        transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    }
    
    .open .bar.end{
        transform: rotate(-450deg) translateX(-.8rem);
    }
    
}
@media screen and (max-width: 990px){
    .mini-nav{
        width: 50%;
    }
    .content{
        padding: 3% 30%;
    }
    .single-contact{
        width: 350px;
    }
    .nav-logo h1{
        width: fit-content;
        font-family: 'Galada', cursive;
        background: linear-gradient(to top, #ffe838, #fd57bf);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
    
        text-decoration: none;
        letter-spacing: 2px;
    }
    .project .single-blog{
        height: 90%;
    }
}

@media screen and (max-width: 800px) {
    .nav-links, .greet{
        display: none;
    }
    .nav-logo h1::after{
        content: '';
        width: 30%;
    }
    .menu-mini{
        top: 3%;
        width: 3.5rem;
        height: 2.625rem;
    }
    .project .single-blog{
        height: 95%;
    }
}
@media screen and (max-width: 650px){
    .mini-nav{
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    .mini-nav{
        width: 100%;
    }
    .menu-mini{
        top: 3%;
        width: 3rem;
        height: 2.25rem;
    }
}