body{
    width: 100%;
    height: 75%;
    background: url('http://www.baltana.com/files/wallpapers-5/White-Background-Best-Wallpaper-16568.jpg');
    background-size: cover;
    overflow-x: hidden;
}
.template{
    margin-top: -7%;
}
.slide{
    margin: 0;
}
.slide ul{
    list-style: none;
    width: 100%;
    height: 75%;
    margin: 0;
    padding: 0;
}
.slide ul li{
    position: absolute;
    width: 25%;
    height: 100%;
    color: rgb(114, 116, 226);
    text-align: center;
    line-height: 600px;
    font-size: 50px;
    transition: 0.7s;
    z-index: 1;
}
.slide ul li:hover{
    background: rgb(0, 0, 0, 0.5);
    opacity: 0.5;
    font-size: 60px;
}
.slide ul li:nth-child(2){
    left: 25%;
}
.slide ul li:nth-child(3){
    left: 50%;
}
.slide ul li:nth-child(4){
    left: 75%;
}
.slide .nav-temp{
    font-family: 'Galada', cursive;
    color: #fff;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("http://lollipopgamesfree.xyz/img/sitebg.jpg" ) no-repeat center fixed;
}
.slide ul li:nth-child(1):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-HD-Wallpapers-49302.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(2):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-Wallpapers-Full-HD-49288.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(3):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Beautiful-Pixel-Art-Widescreen-Wallpaper-49308.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}
.slide ul li:nth-child(4):hover ~ .box{
    background: url(http://www.baltana.com/files/wallpapers-20/Aesthetic-Pixel-Art-High-Definition-Wallpaper-49284.gif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition: 0.1s;
}

.nav-temp:hover, 
.nav-temp:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
    .slide ul{
        height: 100%;
    }
    .slide ul li{
        width: 100%;
        height: 25%;
        line-height: 200px;
    }
    .slide a{
        padding: 0% 0%;
    }
    .slide ul li:nth-child(2){
        margin-top: 25%;
        left: 0%;
    }
    .slide ul li:nth-child(3){
        margin-top: 50%;
        left: 0%;
    }
    .slide ul li:nth-child(4){
        margin-top: 75%;
        left: 0%;
    }
    .slide .nav-temp{
        margin-top: 0;
    }
    .box{
        position: absolute;
        width: 100%;
        height: 102%;
    }
}

@media screen and (max-width: 650px){
    .slide .nav-temp{
        font-size: 38px;
    }
    .slide ul li{
        width: 100%;
        height: 20%;
        line-height: 150px;
    }
    .slide ul li:nth-child(1){
        margin-top: 5%;
        left: 0%;
    }
    .slide ul li:nth-child(2){
        margin-top: 30%;
        left: 0%;
    }
    .slide ul li:nth-child(3){
        margin-top: 55%;
        left: 0%;
    }
    .slide ul li:nth-child(4){
        margin-top: 80%;
        left: 0%;
    }
    .box{
        height: 100%;
    }
}
@media screen and (max-width: 500px) {

}